# == Folders == (any depth format is dir/, root folders format is /dir/).
__pycache__/
build/
dist/
go_venv/
io/

# == Files ==
# compiled Python files
*.pyc
# optimized Python files
*.pyo
# Pyinstaller
*.spec